bmipy==2.0
dask[complete]==2021.01.1
epiweeks==2.1.2
fastparquet==0.4.1
matplotlib==3.3.3
nc-time-axis==1.2.0
netCDF4==1.5.4
numba==0.51.2
numexpr==2.7.2
numpy==1.19.4
pandas==1.1.4
pathvalidate==2.3.0
psutil==5.7.3
python-benedict==0.22.0
xarray==0.16.1