bmipy==2.0
dask[complete]==2021.01.1
epiweeks==2.1.2
fastparquet==0.4.1
h5netcdf==0.10.0
matplotlib==3.3.3
nc-time-axis==1.2.0
netCDF4==1.5.4
numexpr==2.7.2
numpy==1.19.4
pandas==1.1.4
pathvalidate==2.3.0
psutil==5.7.3
pyarrow==3.0.0
python-benedict==0.24.0
recommonmark==0.7.1
regex==2020.11.13
requests==2.25.1
rioxarray==0.3.1
setuptools==54.1.2
sphinx==3.5.2
sphinx-rtd-theme==0.5.1
tqdm==4.60.0
xarray==0.16.1